.login-container{
    margin-top: 100px;
    margin-left: 32rem;
    width: 500px;
    height: 200px;
    text-align: center;
    /* padding: 5rem; */
    border: 2px black solid;
    border-radius: 2rem;
    background-color:rgb(195, 195, 195);
}

#login-form{
    font-size: 30px;
    padding: 1.75rem;
}
h2{
    font-size: 50px;
    padding: 0;
    margin: 0;
}